<section class="status">
  <div class="container mx-auto pt-12">
    <div class="status-box w-full lg:w-2/3 mx-auto">
      <div class="flex items-center justify-between mb-12">
        <h1 class="text-xl font-bold">Track delivery status</h1>
        <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs">
          <%= order.id %>
        </h6>
        <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
      </div>
      <ul>
        <li
          class="status_line text-sm md:text-xl pb-16 <%= statusPrecedence[order.status] > statusPrecedence['order_placed'] ? 'step-completed' : '' %> <%= (statusPrecedence[order.status] == statusPrecedence['order_placed']) ? 'current' : '' %>"
          data-status="order_placed"><span>Order Placed</span>
        </li>
        <li
          class="status_line text-sm md:text-xl pb-16 <%= statusPrecedence[order.status] > statusPrecedence['confirmed'] ? 'step-completed' : '' %> <%= (statusPrecedence[order.status] == statusPrecedence['confirmed']) ? 'current' : '' %>"
          data-status="confirmed"><span>Order confirmation</span>
        </li>
        <li
          class="status_line text-sm md:text-xl pb-16 <%= statusPrecedence[order.status] > statusPrecedence['prepared'] ? 'step-completed' : '' %> <%= (statusPrecedence[order.status] == statusPrecedence['prepared']) ? 'current' : '' %>"
          data-status="prepared"><span>Preparation</span></li>
        <li
          class="status_line text-sm md:text-xl pb-16 <%= statusPrecedence[order.status] > statusPrecedence['delivered'] ? 'step-completed' : '' %> <%= (statusPrecedence[order.status] == statusPrecedence['delivered']) ? 'current' : '' %>"
          data-status="delivered"><span>Out for delivery </span>
        </li>
        <li
          class="status_line text-sm md:text-xl <%= statusPrecedence[order.status] > statusPrecedence['completed'] ? 'step-completed' : '' %> <%= (statusPrecedence[order.status] == statusPrecedence['completed']) ? 'current' : '' %>"
          data-status="completed"><span>Complete</span></li>
      </ul>
    </div>
  </div>
</section>
